{% extends 'email.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div id="wrapper">
    	<p>
    		Hello {{ user.fullName }},
    		<br/>
    		Thank you for signing up.
    	</p>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}
